{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Light Controller</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'script.js' %}"></script>
    </head>
<body>

    <h1>Light Controller</h1>
    <button class="button" id="lightOn">Turn On</button>
    <button class="button button-off" id="lightOff">Turn Off</button>



    <table border="1">
        <tr>
            <th>IP Address</th>
            <th>Power</th>
            <th>Brightness</th>
            <th>RGB Value</th>
            <th>Set Brightness</th> 
        </tr>
        {% for bulb in bulbs %}
            <tr>
                <td>{{ bulb.ip }}</td>
                <td>{{ bulb.power }}</td>
                <td>{{ bulb.bright }}</td>
                <td>{{ bulb.rgb }}</td>
                <td>{{ bulb.temp }}</td>
                <td>
                    <input type="range" id="brightnessSlider_{{ bulb.ip }}" min="0" max="100" value="{{ bulb.bright }}" oninput="changeBrightness('{{ bulb.ip }}')">
                    <span id="brightnessValue_{{ bulb.ip }}">{{ bulb.bright }}%</span>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No bulbs found.</td>
            </tr>
        {% endfor %}
    </table>
    




    <h2>Choose Light Color</h2>
<input type="color" id="colorPicker" value="#ff0000">





</body>
</html>
